<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="2.0.2" targetFramework="net451" />
  <package id="NServiceBus" version="4.6.4" targetFramework="net451" />
  <package id="NServiceBus.Host" version="4.6.4" targetFramework="net451" />
  <package id="NServiceBus.Interfaces" version="4.6.4" targetFramework="net451" />
  <package id="structuremap" version="3.1.1.134" targetFramework="net451" />
</packages>