<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.0.2" targetFramework="net451" />
  <package id="NServiceBus" version="5.0.0" targetFramework="net451" />
  <package id="NServiceBus.Host" version="6.0.0" targetFramework="net451" />
  <package id="NServiceBus.StructureMap" version="5.0.1" targetFramework="net451" />
  <package id="structuremap" version="3.1.2.138" targetFramework="net451" />
</packages>